body {
	background:url('./Components/background1.jpg');
	background-repeat:repeat;
	background-size:cover;
	color: black;
}

.movie-app > .row {
	display:flex;
	justify-content: space-around;
	margin-bottom:20px;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

/*.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}*/
::-webkit-scrollbar{
	display:none;
}
routes{
	flex:wrap;
}


